/* général */
:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --grey: #f2f2f2;
}
body {
  font-family: "Raleway", sans-serif;
  padding: 0px 40px;
  font-size: 18px;
  max-width: 1440px;
  margin: auto !important;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}

/* header/navigation */
nav {
  margin-right: -20px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
header #logo {
  padding: 25px 0px;
  margin-left: -20px;
}
header #logo img {
  width: 150px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}
header nav ul li {
  padding: 50px 25px;
  border-top: 4px solid transparent;
  margin: 0px 20px 0px 20px;
}
header nav ul li:hover {
  border-color: var(--blue);
}
header nav ul li a {
  color: black;
  text-decoration: none;
}
header nav ul li:hover a {
  color: var(--blue);
}

/* conteneur recherche/filtres */
.subtitle {
  display: block;
  margin-top: -10px;
  margin-bottom: 25px;
}
.search {
  display: inline-block;
  border: 1px solid var(--grey);
  border-radius: 15px;
  width: auto;
  margin-bottom: 25px;
}
.search .fa-map-marker-alt {
  display: inline-block;
  padding: 15px;
  height: 22px;
  font-size: 20px;
  background-color: var(--grey);
  border-radius: 14px 0px 0px 14px;
}
.search input {
  outline: none;
  border: none;
  padding: 10px;
  font-weight: bold;
}
.search button {
  background-color: var(--blue);
  color: white;
  height: 52px;
  border: none;
  border-radius: 0px 14px 14px 0px;
  padding: 15px;
  cursor: pointer;
}
.search button .fa-search {
  position: absolute;
  display: none;
}
.text {
  margin: 0px 10px 0px 10px;
}

/* Filtres */
h2 {
  margin-right: 25px;
}
#filter {
  display: flex;
  align-items: center;
}
.filter-box {
  margin: 0px 15px;
  border-radius: 30px;
  border: 2px solid var(--grey);
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 1s;
}
.circle {
  margin-left: -4px;
}
.filter-box i {
  background-color: var(--light-blue);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-box:hover {
  transition-duration: 2s;
  transition-property: background-color;
  background-color: var(--light-blue);
}
.filter-box .text {
  padding: 0px 10px;
}

/* infos */
.info {
  display: flex;
  align-items: center;
  margin: 25px 0px 25px 0px;
}
.info .fas.fa-info {
  color: var(--blue);
  border: 1px solid var(--grey);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/* hébergements marseille*/
#accommodation {
  display: flex;
  justify-content: space-between;
}
#accommodation section h2 {
  margin-left: 20px;
}
#accommodation section .container {
  background-color: var(--grey);
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  box-sizing: content-box;
}
.accommodation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.accommodation-list a {
  width: 30%;
  margin-bottom: 40px;
  color: black;
  text-decoration: none;
}
.accommodation-list a article {
  background-color: white;
  padding: 6px;
  border-radius: 25px;
  height: 100%;
}
.accommodation-list a article:hover {
  box-shadow: 5px 5px 5px 0px #0065fc4d;
  transition: 150ms;
  /* L'image est grossie de 5% */
  transform: scale(1.05);
  color: var(--blue);
}
.accommodation-list a article .fa-star.blue {
  color: var(--blue);
}
.accommodation-list a article .fa-star.grey {
  color: #e2e2e2;
}
.star-rate {
  margin-left: 6px;
}
.accommodation-list a article img {
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.accommodation-list a article .article-content {
  padding: 0px 10px 0px 10px;
}
.accommodation-list a article .article-content h3,
.accommodation-list a article .article-content p {
  margin: 6px;
}
.accommodation-list a article .article-content .price.bold {
  font-weight: bold;
}
.subtitle-plus {
  display: block;
  margin: 17px 0px 25px 25px;
}
.container a {
  color: black;
  text-decoration: none;
}
#accommodation .marseille {
  width: 67.8%;
  height: 100%;
}
#accommodation .marseille .subtitle-plus {
  font-weight: bold;
}

/* section populaires */
.popular .accommodation-list a article img {
  height: 170px;
}
.popular .accommodation-list :nth-child(3) {
  margin-bottom: 10px;
}
#accommodation .popular .chart-icone {
  position: absolute;
  top: 40px;
  right: 40px;
}
#accommodation .popular {
  width: 30%;
  position: relative;
}
#accommodation .popular .accommodation-list {
  flex-direction: column;
  padding: 0px 20px 0px 20px;
}
#accommodation .popular .accommodation-list a {
  width: 100%;
}
#accommodation .popular .accommodation-list a article {
  display: flex;
  flex-direction: row;
}
#accommodation .popular .accommodation-list a article img {
  border-radius: 20px 0px 0px 20px;
  width: 40%;
}
#accommodation .popular .accommodation-list a article .article-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
}

/* section activités marseille */
#activityMarseille {
  margin: 60px 0px 60px 0px;
}
#activity-list {
  display: flex;
  gap: 40px;
}
.activity :nth-child(n) {
  flex-basis: 25%;
  flex-grow: 0;
}
article img {
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}
.columnVieuxPort article img,
.columnParc article img {
  height: 487px;
}
.ilesFrioul article img {
  height: 130px;
}
.fortPomegues article img {
  height: 250px;
}
.notreDame article img {
  height: 210px;
}
.parcLongChamp article img {
  height: 170px;
}
.fortPomegues,
.notreDame {
  margin-bottom: 40px;
}
#activity-list article {
  box-shadow: 5px 5px 5px 0px #e0e0e0;
  border-radius: 25px;
}
#activity-list article:hover {
  box-shadow: 5px 5px 5px 0px #0065fc4d;
  transition: 150ms;
  /* L'image est grossie de 5% */
  transform: scale(1.05);
  color: var(--blue);
}
#activity-list h3 {
  padding: 21px;
  margin: 0;
}
#activity-list a {
  color: black;
  text-decoration: none;
}

/* footer */
footer {
  background-color: var(--grey);
  padding: 30px;
  display: flex;
}
footer .column {
  width: 30%;
  margin-left: 30px;
}
footer .column ul {
  padding: 0;
  list-style-type: none;
}
footer .column ul li a {
  color: black;
  text-decoration: none;
  line-height: 35px;
}
footer .column ul li a:hover {
  transition: 150ms;
  color: var(--blue);
}
